Repository WEEE-Open/skeeep: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ]
}

only commit once for both JS linters. close #33
  .github/workflows/ci.yml
Due: none

replace stylelint with prettier
  .github/workflows/ci.yml
  .lintstagedrc
  .stylelintignore
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

exclude extensions from prettier config
  .prettierignore
Due: none

specify pre-commit hooks extensions
  .lintstagedrc
  .lintstagedrc.json
Due: none

ignore linting all minified files
  .prettierignore
Due: none

Fix code style issues with ESLint and Prettier
  .eslintrc.json
  .github/workflows/cd.yml
  .github/workflows/production-deployment.yml
  public/index.html
  src/App.css
  src/App.js
  src/App.test.js
  src/Components/CardsContainer.js
  src/Components/Footer.js
  src/Components/Header.js
  src/Components/LogoSvg.js
  src/Components/SingleCard.js
  src/Components/Translations.js
  src/index.css
  src/index.js
  src/reportWebVitals.js
Due: eslint --fix, prettier --write, stylelint --fix

improve layout for smaller screens
  src/Components/SingleCard.css
Due: stylelint --fix

Fix code style issues with ESLint and Prettier
  src/App.css
  src/Components/CardsContainer.js
  src/Components/SingleCard.css
Due: eslint --fix, prettier --write, stylelint --fix

Deploy commit 41b31a85d3ef261c2de38841b11c3cbdb6c37939
  asset-manifest.json
  index.html
  static/css/main.07693f5d.chunk.css
  static/css/main.07693f5d.chunk.css.map
  static/css/main.532f38b6.chunk.css
  static/css/main.532f38b6.chunk.css.map
  static/js/main.09b88c63.chunk.js
  static/js/main.09b88c63.chunk.js.map
  static/js/main.65618a28.chunk.js.map
Due: eslint --fix, prettier --write, stylelint --fix

add "Coming soon..." icons for skeeelled
  public/icons/skeeelled-dark.svg
  public/icons/skeeelled.svg
Due: none

more specific build script
  package.json
Due: none

Deploy commit 2ca4adc8a91df90eef21bb6a491104becc797c92
  asset-manifest.json
  icons/skeeelled-dark.svg
  icons/skeeelled.svg
  index.html
  static/css/main.07693f5d.chunk.css.map
  static/css/main.bcd5be81.chunk.css
  static/css/main.bcd5be81.chunk.css.map
  static/js/main.09b88c63.chunk.js.map
Due: stylelint --fix

better footer CSS
  src/Components/Footer.css
  src/Components/Footer.js
Due: eslint --fix, prettier --write, stylelint --fix

correctly apply header CSS
  src/App.css
  src/Components/Header.css
  src/Components/Header.js
Due: eslint --fix, prettier --write, stylelint --fix

re-set persian translation
  src/Components/Translations.js
Due: eslint --fix, prettier --write

add second line about skeeell to footer. ref #28
  public/skeeell.svg
  src/Components/Footer.css
  src/Components/Footer.js
  src/Components/Translations.js
Due: eslint --fix, prettier --write, stylelint --fix

add Italian+English translations for skeeelled. ref #28
  src/Components/Translations.js
Due: eslint --fix, prettier --write

Deploy commit 3f49d1695ea9683a089f16712624e70a46d0dd0f
  asset-manifest.json
  index.html
  skeeell.svg
  static/css/main.bcd5be81.chunk.css
  static/css/main.bcd5be81.chunk.css.map
  static/css/main.df75c025.chunk.css
  static/css/main.df75c025.chunk.css.map
  static/js/2.28064b5d.chunk.js
  static/js/2.28064b5d.chunk.js.map
  static/js/2.79ec5cd3.chunk.js
  static/js/2.79ec5cd3.chunk.js.LICENSE.txt
  static/js/2.79ec5cd3.chunk.js.map
  static/js/3.7cacfdd0.chunk.js
  static/js/3.7cacfdd0.chunk.js.map
  static/js/3.9818e99e.chunk.js
  static/js/3.9818e99e.chunk.js.map
  static/js/main.09b88c63.chunk.js
  static/js/main.09b88c63.chunk.js.map
  static/js/main.94a729a9.chunk.js
  static/js/main.94a729a9.chunk.js.map
  static/js/runtime-main.887777f8.js
  static/js/runtime-main.887777f8.js.map
  static/js/runtime-main.d7ef32d5.js
  static/js/runtime-main.d7ef32d5.js.map
Due: eslint --fix, prettier --write, stylelint --fix

add favicons. ref #32
  public/browserconfig.xml
  public/favicon/favicon-114.png
  public/favicon/favicon-120.png
  public/favicon/favicon-144.png
  public/favicon/favicon-150.png
  public/favicon/favicon-152.png
  public/favicon/favicon-16.png
  public/favicon/favicon-160.png
  public/favicon/favicon-180.png
  public/favicon/favicon-192.png
  public/favicon/favicon-310.png
  public/favicon/favicon-32.png
  public/favicon/favicon-57.png
  public/favicon/favicon-60.png
  public/favicon/favicon-64.png
  public/favicon/favicon-70.png
  public/favicon/favicon-72.png
  public/favicon/favicon-76.png
  public/favicon/favicon-96.png
  public/favicon/favicon.ico
  public/index.html
Due: none

remove React logos
  public/favicon.ico
  public/logo192.png
  public/logo512.png
  src/logo.svg
Due: none

update manifest. ref #32
  public/manifest.json
Due: none

re-phrase website description
  public/index.html
  public/manifest.json
Due: none

Deploy commit 8c1272bf76db74d5f10baf71bd211a138ab54968
  index.html
  manifest.json
Due: none

logo-animation/translation-todo
  src/Components/LogoSvg.js
  src/Components/Translations.js
Due: eslint --fix, prettier --write

Deploy commit 89c53a9baf64ee1c5880e5952545976a70018e40
  asset-manifest.json
  index.html
  static/js/main.43c81fd1.chunk.js
  static/js/main.43c81fd1.chunk.js.map
  static/js/main.94a729a9.chunk.js
  static/js/main.94a729a9.chunk.js.map
Due: eslint --fix, prettier --write

add preview screenshot
  README.md
Due: none

adding farsi translation for footer
  src/Components/Translations.js
Due: eslint --fix, prettier --write

changing the sign for Persian(Farsi) language
  package-lock.json
  src/Components/Translations.js
Due: eslint --fix, prettier --write

small fix
  src/Components/Translations.js
Due: eslint --fix, prettier --write

Delete package-lock.json
  package-lock.json
Due: none

Update Translations.js
  src/Components/Translations.js
Due: eslint --fix, prettier --write

remove done TODO
  src/Components/Translations.js
Due: eslint --fix, prettier --write

re-add package-lock.json
  package-lock.json
Due: none

Fix code style issues with ESLint and Prettier
  src/Components/Translations.js
Due: eslint --fix, prettier --write

Deploy commit 15c7ec836dceb5bfa625a50e52f106bd67dda8c9
  asset-manifest.json
  index.html
  static/js/main.43c81fd1.chunk.js
  static/js/main.43c81fd1.chunk.js.map
  static/js/main.ce06bc97.chunk.js
  static/js/main.ce06bc97.chunk.js.map
Due: eslint --fix, prettier --write

add polito-materiale icons. ref #41
  public/icons/politomateriale-dark.svg
  public/icons/politomateriale.svg
Due: none

add polito-materiale entry with Italian+English translations. ref #41
  src/Components/CardsContainer.js
  src/Components/Translations.js
Due: eslint --fix, prettier --write

default to English if translation for current language is unavailable. close #40
  src/Components/SingleCard.js
Due: eslint --fix, prettier --write
