Repository WEEE-Open/skeeep: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Deploy commit c80b0d8fa6dffc1c0b5fb7517a88c2eeabc30983
  asset-manifest.json
  icons/politomateriale-dark.svg
  icons/politomateriale.svg
  index.html
  static/js/main.19223eaf.chunk.js
  static/js/main.19223eaf.chunk.js.map
  static/js/main.ce06bc97.chunk.js
  static/js/main.ce06bc97.chunk.js.map
Due: eslint, prettier --write

adding translation for politomateriale
  src/Components/Translations.js
Due: eslint, prettier --write

Deploy commit 5e3e2be7ae44bf3c8bcb95e7b3a1ade5af3da893
  asset-manifest.json
  index.html
  static/js/main.19223eaf.chunk.js
  static/js/main.19223eaf.chunk.js.map
  static/js/main.72b266a7.chunk.js
  static/js/main.72b266a7.chunk.js.map
Due: eslint, prettier --write

polito-materiale_Chinese
  package.json
  src/App.css
  src/Components/Translations.js
Due: eslint, prettier --write

revert unnecessary change
  package.json
Due: none

revert unnecessary change
  src/App.css
Due: prettier --write

Deploy commit 4dd250273701fe2eb28eef8a724819c7fa14832b
  asset-manifest.json
  index.html
  static/js/main.3ba7a873.chunk.js
  static/js/main.3ba7a873.chunk.js.map
  static/js/main.72b266a7.chunk.js
  static/js/main.72b266a7.chunk.js.map
Due: eslint, prettier --write

set production PUBLIC_URL to current. ref #44
  .env.production
  .github/workflows/ncd-prod.yml
Due: none

move unused production CD workflow to separate file for future use
  .github/workflows/cd-prod-gh-runner.yaml
Due: none

add CI workflow updating the production branch (with correct PUBLIC_URL). ref #44
  .github/workflows/ncd-prod.yml
Due: none

also fetch production branch. ref #44
  .github/workflows/ncd-prod.yml
Due: none

remove duplicate animation property
  src/App.css
Due: prettier --write

add Matomo analytics
  public/index.html
Due: none

Deploy commit 0230a7f357fe709055a11f194a926aaebeb96977
  asset-manifest.json
  index.html
  static/css/main.d39492e8.chunk.css
  static/css/main.d39492e8.chunk.css.map
  static/css/main.df75c025.chunk.css.map
Due: prettier --write

fix production build workflow
  .github/workflows/ncd-prod.yml
Due: none

Deploy commit 73bdc0c57bab0f3b32e466b8cf4190bf3ef74d28
  asset-manifest.json
  index.html
  static/css/main.99d149bf.chunk.css.map
  static/css/main.fdde8489.chunk.css
  static/css/main.fdde8489.chunk.css.map
Due: prettier --write

update link for sonousciteledate
  src/Components/CardsContainer.js
Due: eslint, prettier --write

Deploy commit ee8a080ea1f0005fe06d2358fecf098f982ee6b9
  asset-manifest.json
  index.html
  static/js/main.3ba7a873.chunk.js
  static/js/main.3ba7a873.chunk.js.map
  static/js/main.77d967b5.chunk.js
  static/js/main.77d967b5.chunk.js.map
Due: eslint, prettier --write

revert link to sonousciteledate.it
  src/Components/CardsContainer.js
Due: eslint, prettier --write

remove language parameter from Chrome Web Store URL
  src/Components/CardsContainer.js
Due: eslint, prettier --write

push newly added cards to top of page for a 30 days grace period. ref #46
  src/Components/CardsContainer.js
Due: eslint, prettier --write

highlight newly added cards. close #46
  src/Components/CardsContainer.js
  src/Components/SingleCard.css
  src/Components/SingleCard.js
Due: eslint, prettier --write

Deploy commit ff210798b3b2d9971c97e5ca78e0b2ebb406a987
  asset-manifest.json
  index.html
  static/css/main.3477b442.chunk.css
  static/css/main.3477b442.chunk.css.map
  static/css/main.d39492e8.chunk.css
  static/css/main.d39492e8.chunk.css.map
  static/js/main.04e23780.chunk.js
  static/js/main.04e23780.chunk.js.map
  static/js/main.77d967b5.chunk.js
  static/js/main.77d967b5.chunk.js.map
Due: eslint, prettier --write

Deploy commit ff210798b3b2d9971c97e5ca78e0b2ebb406a987
  asset-manifest.json
  index.html
  static/css/main.71b16c68.chunk.css
  static/css/main.71b16c68.chunk.css.map
  static/css/main.fdde8489.chunk.css
  static/css/main.fdde8489.chunk.css.map
  static/js/main.04e23780.chunk.js
  static/js/main.04e23780.chunk.js.map
  static/js/main.77d967b5.chunk.js
  static/js/main.77d967b5.chunk.js.map
Due: eslint, prettier --write

add production build badge to README
  README.md
Due: none

add github link to skeeelled card
  src/Components/CardsContainer.js
Due: eslint, prettier --write

add card info and it+en translations for appuntipolito. ref #48
  src/Components/CardsContainer.js
  src/Components/Translations.js
Due: eslint, prettier --write

clearer and shorter code for card icon file name
  src/Components/SingleCard.js
Due: eslint, prettier --write

add test appuntipolito icons. TODO: add the real ones. ref #48
  public/icons/appuntipolito-dark.svg
  public/icons/appuntipolito.svg
Due: none

fix ternary conditions
  src/Components/SingleCard.js
Due: eslint, prettier --write

fix wrongly formatted icons in the 576-768px range
  src/Components/SingleCard.css
  src/Components/SingleCard.js
Due: eslint, prettier --write

avoid breaking single words in titles. close #50
  src/Components/SingleCard.css
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.css)
