Repository WEEE-Open/skeeep: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ]
}

Deploy commit 1c2ec3a86cd949f997d44d9170b612b54b20083f
  asset-manifest.json
  index.html
  static/css/main.3477b442.chunk.css
  static/css/main.3477b442.chunk.css.map
  static/css/main.a56f0d19.chunk.css
  static/css/main.a56f0d19.chunk.css.map
  static/js/main.04e23780.chunk.js
  static/js/main.04e23780.chunk.js.map
  static/js/main.ef33c739.chunk.js
  static/js/main.ef33c739.chunk.js.map
Due: eslint, prettier --write

Deploy commit 1c2ec3a86cd949f997d44d9170b612b54b20083f
  asset-manifest.json
  index.html
  static/css/main.71b16c68.chunk.css
  static/css/main.71b16c68.chunk.css.map
  static/css/main.c51444b3.chunk.css
  static/css/main.c51444b3.chunk.css.map
  static/js/main.04e23780.chunk.js
  static/js/main.04e23780.chunk.js.map
  static/js/main.ef33c739.chunk.js
  static/js/main.ef33c739.chunk.js.map
Due: eslint, prettier --write

replace all icon svgs with corresponding with no borders. ref #49
  public/icons/inginfbot-dark.svg
  public/icons/inginfbot.svg
  public/icons/politogruppibot-dark.svg
  public/icons/politogruppibot.svg
  public/icons/politomateriale-dark.svg
  public/icons/politomateriale.svg
  public/icons/politools-dark.svg
  public/icons/politools.svg
  public/icons/skeeelled-dark.svg
  public/icons/skeeelled.svg
  public/icons/sonousciteledate-dark.svg
  public/icons/sonousciteledate.svg
  public/icons/studyplanner-dark.svg
  public/icons/studyplanner.svg
Due: none

specify icon width based on screen size. close #49
  src/Components/SingleCard.css
Due: prettier --write

Deploy commit f05c2db4646fccbdeedecd6000d810d9d39c7444
  asset-manifest.json
  icons/inginfbot-dark.svg
  icons/inginfbot.svg
  icons/politogruppibot-dark.svg
  icons/politogruppibot.svg
  icons/politomateriale-dark.svg
  icons/politomateriale.svg
  icons/politools-dark.svg
  icons/politools.svg
  icons/skeeelled-dark.svg
  icons/skeeelled.svg
  icons/sonousciteledate-dark.svg
  icons/sonousciteledate.svg
  icons/studyplanner-dark.svg
  icons/studyplanner.svg
  index.html
  static/css/main.6083a7b5.chunk.css
  static/css/main.6083a7b5.chunk.css.map
  static/css/main.a56f0d19.chunk.css
  static/css/main.a56f0d19.chunk.css.map
Due: prettier --write

Deploy commit f05c2db4646fccbdeedecd6000d810d9d39c7444
  asset-manifest.json
  icons/inginfbot-dark.svg
  icons/inginfbot.svg
  icons/politogruppibot-dark.svg
  icons/politogruppibot.svg
  icons/politomateriale-dark.svg
  icons/politomateriale.svg
  icons/politools-dark.svg
  icons/politools.svg
  icons/skeeelled-dark.svg
  icons/skeeelled.svg
  icons/sonousciteledate-dark.svg
  icons/sonousciteledate.svg
  icons/studyplanner-dark.svg
  icons/studyplanner.svg
  index.html
  static/css/main.3ac80498.chunk.css
  static/css/main.3ac80498.chunk.css.map
  static/css/main.c51444b3.chunk.css
  static/css/main.c51444b3.chunk.css.map
Due: prettier --write

add custom icons for appunti polito. ref #48
  public/icons/appuntipolito-dark.svg
  public/icons/appuntipolito.svg
Due: none

set added date for appuntipolito to today. close #48
  src/Components/CardsContainer.js
Due: eslint, prettier --write

Deploy commit 776e716562d18e3628b3cb821d68179863172c25
  asset-manifest.json
  icons/appuntipolito-dark.svg
  icons/appuntipolito.svg
  index.html
  static/js/main.c119502a.chunk.js
  static/js/main.c119502a.chunk.js.map
  static/js/main.ef33c739.chunk.js
  static/js/main.ef33c739.chunk.js.map
Due: eslint, prettier --write

update PoliTools card. close #52
  src/Components/CardsContainer.js
Due: eslint, prettier --write

sort new cards by most recent addedDate
  src/Components/CardsContainer.js
Due: eslint, prettier --write

Deploy commit 301cd98134b452438840aef0880457a365ffd5ca
  asset-manifest.json
  index.html
  static/js/main.c119502a.chunk.js
  static/js/main.c119502a.chunk.js.map
  static/js/main.cb7c6051.chunk.js
  static/js/main.cb7c6051.chunk.js.map
Due: eslint, prettier --write

rename footer lines to more descriptive names
  src/Components/Footer.css
  src/Components/Footer.js
  src/Components/Translations.js
Due: eslint, prettier --write

add English and Italian translations for the third parties disclaimer contained in the footer. ref #47
  src/Components/Translations.js
Due: eslint, prettier --write

update Footer. ref #47
  src/Components/Footer.js
Due: eslint, prettier --write

add isMadeByWEEEOpen property to all cards. ref #47
  src/Components/CardsContainer.js
Due: eslint, prettier --write

show small W in bottom right of each card representing software made by WEEE Open. close #47
  public/weee-open-W-green.png
  public/weee-open-W-white.png
  src/Components/SingleCard.css
  src/Components/SingleCard.js
Due: eslint, prettier --write

Deploy commit da9cb66785b28d81c09fb49eca0c1778fadade84
  asset-manifest.json
  index.html
  static/css/main.6083a7b5.chunk.css
  static/css/main.6083a7b5.chunk.css.map
  static/css/main.f3b1b07b.chunk.css
  static/css/main.f3b1b07b.chunk.css.map
  static/js/2.79ec5cd3.chunk.js
  static/js/2.79ec5cd3.chunk.js.map
  static/js/2.89ead7da.chunk.js
  static/js/2.89ead7da.chunk.js.LICENSE.txt
  static/js/2.89ead7da.chunk.js.map
  static/js/main.4def2eb5.chunk.js
  static/js/main.4def2eb5.chunk.js.map
  static/js/main.cb7c6051.chunk.js
  static/js/main.cb7c6051.chunk.js.map
  weee-open-W-green.png
  weee-open-W-white.png
Due: eslint, prettier --write

Deploy commit da9cb66785b28d81c09fb49eca0c1778fadade84
  asset-manifest.json
  index.html
  static/css/main.3ac80498.chunk.css
  static/css/main.3ac80498.chunk.css.map
  static/css/main.aa05e542.chunk.css
  static/css/main.aa05e542.chunk.css.map
  static/js/2.79ec5cd3.chunk.js
  static/js/2.79ec5cd3.chunk.js.map
  static/js/2.89ead7da.chunk.js
  static/js/2.89ead7da.chunk.js.LICENSE.txt
  static/js/2.89ead7da.chunk.js.map
  static/js/main.4def2eb5.chunk.js
  static/js/main.4def2eb5.chunk.js.map
  static/js/main.cb7c6051.chunk.js
  static/js/main.cb7c6051.chunk.js.map
  weee-open-W-green.png
  weee-open-W-white.png
Due: eslint, prettier --write

add Contact Us section to footer
  src/Components/Footer.css
  src/Components/Footer.js
  src/Components/Translations.js
Due: eslint, prettier --write

open all footer links in a new tab
  src/Components/Footer.js
Due: eslint, prettier --write

Deploy commit 04fa779da4f7e56046de0768da6c4af41b7ef1bc
  asset-manifest.json
  index.html
  static/css/main.7e11f9e0.chunk.css
  static/css/main.7e11f9e0.chunk.css.map
  static/css/main.f3b1b07b.chunk.css
  static/css/main.f3b1b07b.chunk.css.map
  static/js/main.4def2eb5.chunk.js
  static/js/main.4def2eb5.chunk.js.map
  static/js/main.b730bff4.chunk.js
  static/js/main.b730bff4.chunk.js.map
Due: eslint, prettier --write

Fix code style issues with ESLint and Prettier
  src/Components/Footer.js
Due: eslint, prettier --write

Deploy commit 04fa779da4f7e56046de0768da6c4af41b7ef1bc
  asset-manifest.json
  index.html
  static/css/main.48e255a1.chunk.css
  static/css/main.48e255a1.chunk.css.map
  static/css/main.aa05e542.chunk.css
  static/css/main.aa05e542.chunk.css.map
  static/js/main.4def2eb5.chunk.js
  static/js/main.4def2eb5.chunk.js.map
  static/js/main.b730bff4.chunk.js
  static/js/main.b730bff4.chunk.js.map
Due: eslint, prettier --write

update package.json
  package-lock.json
  package.json
Due: none

new cards sorting method
  src/Components/CardsContainer.js
Due: eslint, prettier --write

add PoliAerospace Italian and English translations
  src/Components/Translations.js
Due: eslint, prettier --write

add some bottom margin to the third party disclaimer that could be covered by mobile OSes' navigation bar
  src/Components/Footer.css
Due: prettier --write

add PoliAerospace icons
  public/icons/poliaerospace-dark.svg
  public/icons/poliaerospace.svg
Due: none

add PoliAerospace entry to CardsContainer
  src/Components/CardsContainer.js
Due: eslint, prettier --write

Deploy commit c70046f4ebf0e873a42b8645309fbb0904f250c1
  asset-manifest.json
  icons/poliaerospace-dark.svg
  icons/poliaerospace.svg
  index.html
  static/css/main.20285e43.chunk.css
  static/css/main.20285e43.chunk.css.map
  static/css/main.7e11f9e0.chunk.css
  static/css/main.7e11f9e0.chunk.css.map
  static/js/main.b730bff4.chunk.js
  static/js/main.b730bff4.chunk.js.map
  static/js/main.cdbcafb4.chunk.js
  static/js/main.cdbcafb4.chunk.js.map
Due: eslint, prettier --write

Deploy commit c70046f4ebf0e873a42b8645309fbb0904f250c1
  asset-manifest.json
  icons/poliaerospace-dark.svg
  icons/poliaerospace.svg
  index.html
  static/css/main.48e255a1.chunk.css
  static/css/main.48e255a1.chunk.css.map
  static/css/main.80a6bf2e.chunk.css
  static/css/main.80a6bf2e.chunk.css.map
  static/js/main.b730bff4.chunk.js
  static/js/main.b730bff4.chunk.js.map
  static/js/main.cdbcafb4.chunk.js
  static/js/main.cdbcafb4.chunk.js.map
Due: eslint, prettier --write

Added associazionidelpolitecnico
  package-lock.json
  public/icons/associazionidelpolitecnico-dark.svg
  public/icons/associazionidelpolitecnico.svg
  src/Components/CardsContainer.js
  src/Components/Translations.js
Due: eslint, prettier --write

Deploy commit 37e5b9b6102f452647990e0b102cea829b60298c
  asset-manifest.json
  icons/associazionidelpolitecnico-dark.svg
  icons/associazionidelpolitecnico.svg
  index.html
  static/js/main.4d1e502d.chunk.js
  static/js/main.4d1e502d.chunk.js.map
  static/js/main.cdbcafb4.chunk.js
  static/js/main.cdbcafb4.chunk.js.map
Due: eslint, prettier --write

Use NPM ci instead of install
  .github/workflows/ncd-prod.yml
Due: none

Deploy commit 62b47d1489f73d7db9aac6475a0a21397efdcfab
  asset-manifest.json
  icons/associazionidelpolitecnico-dark.svg
  icons/associazionidelpolitecnico.svg
  index.html
  static/js/main.4d1e502d.chunk.js
  static/js/main.4d1e502d.chunk.js.map
  static/js/main.cdbcafb4.chunk.js
  static/js/main.cdbcafb4.chunk.js.map
Due: eslint, prettier --write

update PoliAerospace link
  src/Components/CardsContainer.js
Due: eslint, prettier --write

Deploy commit 47084fb3847fbfdfc49d2828db314c0255eb1bd8
  asset-manifest.json
  index.html
  static/js/main.4d1e502d.chunk.js
  static/js/main.4d1e502d.chunk.js.map
  static/js/main.5447a51b.chunk.js
  static/js/main.5447a51b.chunk.js.map
Due: eslint, prettier --write
